html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
}

.contact-form-2 {
  width: 100%;
  height: auto;
  background: rgb(43, 43, 43);
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  box-sizing: border-box;
  margin: auto;
}

.contact-header {
  text-align: center;
  padding-top: 100px;
}

.header-1 {
  font-size: 20px;
  color: rgb(255, 51, 51);
  text-align: center;
  margin-right: 5px;
}

.header-2 {
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-align: center;
}

.contact-header h1:last-child {
  margin-top: 10px;
  font-size: 12px;
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
}

/* divisor */

.style-divisor {
  width: 600px;
  margin: auto;
  padding-top: 20px;
  display: flex;
}

.border-one {
  width: 230px;
  border-bottom: rgb(103, 103, 103) 1px solid;
  margin: auto;
  padding-top: 10px;
}

.center-triangle {
  height: 0px;
  width: 0px;
  border: 10px solid;

  border-bottom-color: rgb(255, 51, 51);
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  margin: auto;

}

.border-two {
  width: 230px;
  border-bottom: rgb(103, 103, 103) 1px solid;
  margin: auto;
  padding-top: 10px;
}

/* form */

.info-form-container {
  padding: 100px;
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.contact-info {
  height: 600px;
  margin-left: 500px;
  margin: auto;
}

.contact-form {
  height: 600px;
  margin: auto;
}

.phone-container {
  display: flex;
  padding-left: 80px;
}

.phone-number {
  height: 40px;
  font-size: 11px;
  font-weight: 600;
  padding-top: 5px;
  color: rgb(255, 255, 255);
  line-height: 20px;
  letter-spacing: 1px;
  text-align: right;
}

.phone-icon {
  height: 40px;
  color: rgb(255, 51, 51);
  font-size: 30px;
  text-align: right; 
  border-left: rgb(103, 103, 103) 1px solid;
  padding-top: 10px;
  padding-left: 20px;
  margin-left: 20px;
}

.address-container {
  padding-top: 40px;
  display: flex;
}

.address-info {
  height: 40px;
  font-size: 11px;
  font-weight: 600;
  padding-top: 5px;
  color: rgb(255, 255, 255);
  line-height: 20px;
  letter-spacing: 1px;
  text-align: right;
}

.address-icon {
  height: 40px;
  color: rgb(255, 51, 51);
  font-size: 30px;
  text-align: right; 
  border-left: rgb(103, 103, 103) 1px solid;
  padding-top: 10px;
  padding-left: 20px;
  margin-left: 20px;
}

.email-container {
  padding-top: 40px;
  padding-left: 30px;
  display: flex;
}

.email-info {
  height: 40px;
  font-size: 11px;
  font-weight: 600;
  padding-top: 13px;
  color: rgb(255, 255, 255);
  line-height: 20px;
  letter-spacing: 1px;
  text-align: right;
}

.email-icon {
  height: 40px;
  color: rgb(255, 51, 51);
  font-size: 30px;
  text-align: right; 
  border-left: rgb(103, 103, 103) 1px solid;
  padding-top: 10px;
  padding-left: 20px;
  margin-left: 20px;
}


.name-form {
  width: 150px;
  border: none;
  border-bottom: rgb(103, 103, 103) 1px solid;
  background: rgb(43, 43, 43);
  padding-top: 20px;
  padding-left: 5px;
  padding-bottom: 10px;
}

.email-form {
  width: 150px;
  border: none;
  border-bottom: rgb(103, 103, 103) 1px solid;
  background: rgb(43, 43, 43);
  padding-left: 5px;
  padding-bottom: 10px;
}

.phone-form {
  width: 150px;
  border: none;
  border-bottom: rgb(103, 103, 103) 1px solid;
  background: rgb(43, 43, 43);
  padding-left: 5px;
  padding-bottom: 10px;
}

.subject-form {
  width: 460px;
  border: none;
  border-bottom: rgb(103, 103, 103) 1px solid;
  background: rgb(43, 43, 43);
  padding-left: 5px;
  padding-top: 30px;
  padding-bottom: 10px;
}

.message {
  width: 460px;
  height: 70px;
  border: none;
  border-bottom: rgb(103, 103, 103) 1px solid;
  background: rgb(43, 43, 43);
  padding-left: 5px;
  padding-bottom: 10px;
}

.send {
  width: 100px;
  padding: 10px;
  margin-top: 20px;
  margin-left: 360px;
  border: rgb(103, 103, 103) 1px solid;
  background: rgb(43, 43, 43);
  color: rgb(255, 255, 255);
}

@media(max-width: 580px) {

  .contact-form-2 {
    height: auto;
  }

  .style-divisor {
    display: block;
    width: 100%;
  }

  .border-one {
    width: 100%;
    border-bottom: rgb(103, 103, 103) 1px solid;
    margin: auto;
  }

  .center-triangle {
    padding-top: 20px;
  }

  .border-two {
    display: none;
  }

  .info-form-container {
    display: block;
    height: auto;
    padding: 30px;
  }

  .contact-info {
    display: block;
    height: auto;
  }

  .contact-form {
    width: 100%;
    height: auto;
  }

  .name-form {
    width: 100%;
    border: none;
    border-bottom: rgb(103, 103, 103) 1px solid;
    background: rgb(43, 43, 43);
    padding-top: 30px;
    padding-left: 5px;
    padding-bottom: 10px;
  }
  
  .email-form {
    width: 100%;
    border: none;
    border-bottom: rgb(103, 103, 103) 1px solid;
    background: rgb(43, 43, 43);
    padding-left: 5px;
    padding-top: 30px;
    padding-bottom: 10px;
  }
  
  .phone-form {
    width: 100%;
    border: none;
    border-bottom: rgb(103, 103, 103) 1px solid;
    background: rgb(43, 43, 43);
    padding-left: 5px;
    padding-top: 30px;
    padding-bottom: 10px;
  }
  
  .subject-form {
    width: 100%;
    border: none;
    border-bottom: rgb(103, 103, 103) 1px solid;
    background: rgb(43, 43, 43);
    padding-left: 5px;
    padding-top: 30px;
    padding-bottom: 10px;
  }
  
  .message {
    width: 100%;
    height: 70px;
    border: none;
    border-bottom: rgb(103, 103, 103) 1px solid;
    background: rgb(43, 43, 43);
    padding-left: 5px;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  
  .send {
    width: 100%;
    padding: 10px;
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    border: rgb(103, 103, 103) 1px solid;
    background: rgb(43, 43, 43);
    color: rgb(255, 255, 255);
  }
}

@media(max-width: 768px) {
  .contact-form-2 {
    height: auto;
  }

  .style-divisor {
    display: block;
    width: 100%;
  }

  .border-one {
    width: 100%;
    border-bottom: rgb(103, 103, 103) 1px solid;
    margin: auto;
  }

  .center-triangle {
    padding-top: 20px;
  }

  .border-two {
    display: none;
  }

  .info-form-container {
    display: block;
    height: auto;
    padding: 30px;
  }

  .contact-info {
    width: 300px;
    margin: auto;
    height: auto;
  }

  .contact-form {
    width: 100%;
    height: auto;
  }

  .name-form {
    width: 100%;
    border: none;
    border-bottom: rgb(103, 103, 103) 1px solid;
    background: rgb(43, 43, 43);
    padding-top: 30px;
    padding-left: 5px;
    padding-bottom: 10px;
  }
  
  .email-form {
    width: 100%;
    border: none;
    border-bottom: rgb(103, 103, 103) 1px solid;
    background: rgb(43, 43, 43);
    padding-left: 5px;
    padding-top: 30px;
    padding-bottom: 10px;
  }
  
  .phone-form {
    width: 100%;
    border: none;
    border-bottom: rgb(103, 103, 103) 1px solid;
    background: rgb(43, 43, 43);
    padding-left: 5px;
    padding-top: 30px;
    padding-bottom: 10px;
  }
  
  .subject-form {
    width: 100%;
    border: none;
    border-bottom: rgb(103, 103, 103) 1px solid;
    background: rgb(43, 43, 43);
    padding-left: 5px;
    padding-top: 30px;
    padding-bottom: 10px;
  }
  
  .message {
    width: 100%;
    height: 70px;
    border: none;
    border-bottom: rgb(103, 103, 103) 1px solid;
    background: rgb(43, 43, 43);
    padding-left: 5px;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  
  .send {
    width: 100%;
    padding: 10px;
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    border: rgb(103, 103, 103) 1px solid;
    background: rgb(43, 43, 43);
    color: rgb(255, 255, 255);
  }
}
